<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <h1>Prueba APP-LOCATION</h1>


        <app-location route="{{route}}"></app-location>

        <button on-click="mostrarRoute">route a consola</button>
        <button on-tap="cambiarRoute">cambiar route</button>


    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>



    class FrontApp extends Polymer.Element {
      static get is() { return 'front-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'front-app'
          },route: Object
        }
      }
      mostrarRoute() {
          console.log(this.route);
        };
    }

    window.customElements.define(FrontApp.is, FrontApp);
  </script>
</dom-module>
