<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="dm-useregister.html">
<link rel="import" href="dm-insertmovement.html">
<link rel="import" href="dm-accounts.html">
<link rel="import" href="dm-accountsregister.html">
<link rel="import" href="dm-logout.html">
<link rel="import" href="dm-movementaccount.html">
<link rel="import" href="dm-user.html">
<link rel="import" href="av-geolocalizacion.html">
<link rel="lazy-import" href="av-accountslist.html">
<link rel="import" href="av-altausuario.html">
<link rel="lazy-import" href="av-login.html">
<link rel="lazy-import" href="av-modificausuario.html">
<link rel="lazy-import" href="av-movementaccount.html">
<link rel="lazy-import" href="av-trasfer.html">
<link rel="lazy-import" href="av-entryData.html">
<link rel="lazy-import" href="av-reintegro.html">
<link rel="lazy-import" href="av-view404.html">
<link rel="lazy-import" href="av-sincuenta.html">
<link rel="lazy-import" href="av-updateuser.html">
<link rel="lazy-import" href="av-mensajes.html">
<link rel="lazy-import" href="av-mensajesok.html">
<link rel="lazy-import" href="av-msgaltuserok.html">

<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<dom-module id="av-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

          <div hidden="{{loginhecho}}"><a name="altausuario" href="" on-click="_altausuarioClick">Darte de alta</a></div>
          <div hidden="{{loginhecho}}"><a name="login" href="" on-click="_loginClick">Login</a></div>
          <div hidden="{{!loginhecho}}"><a name="accountslist" href="" on-click="_accountslistClick">Cuentas</a></div>
          <div hidden="{{!loginhecho}}"><a name="trasfer" href="" on-click="_trasferClick">Transferencia</a></div>
          <div hidden="{{!loginhecho}}"><a name="reintegro" href="" on-click="_reintegroClick">Reintegro</a></div>
          <div hidden="{{!loginhecho}}"><a name="entry" href="" on-click="_entryClick">Ingreso</a></div>
          <div hidden="{{!loginhecho}}"><a name="modificausuario" href="" on-click="_modificausuarioClick">Datos usuario</a></div>
          <div hidden="{{!loginhecho}}"><a name="logout" href="" on-click="_logoutClick">Logout</a></div>

        </iron-selector>

      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>A V E N G E R</div>
        </app-header>

        <iron-pages
            id = "joer"
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">

          <av-login name="login" email={{email}} password={{password}} on-eventologin="_loginOK" on-eventologinko="_loginko"></av-login>
          <av-altausuario name="altausuario" on-altausuario="_altaUsuario"></av-altausuario>
          <av-accountslist id="accountslist" name="accountslist" cuentas={{cuentas}}
            on-movimientoscuenta="_movimientosCuenta" on-altacuenta="_altacuenta" nombre={{nombre}} apellidos={{apellidos}} email={{email}}></av-accountslist>
          <av-movementaccount on-volvercuentas="_volvercuentas" on-geolocaliza="_geolocaliza"
            movimientos={{movimientos}} name="movementaccount" iban={{iban}}></av-movementaccount>
          <av-trasfer name="trasfer" cuentas={{cuentas}} coordenadas={{coordenadas}}
            on-runtrasfer="_runtrasfer"></av-trasfer>
          <av-reintegro name="reintegro" cuentas={{cuentas}} coordenadas={{coordenadas}}
            on-runrefund="_runrefund"></av-reintegro>
          <av-entry name="entry" cuentas={{cuentas}} coordenadas={{coordenadas}}
            on-runentry="_runentry"></av-entry>
          <av-modificausuario name="modificausuario" on-updateuserok="_updateuserok" on-updateuserko="_updateuserko" user={{user}}></av-modificausuario>
          <av-view404 name="view404"></av-view404>
          <av-despedida name="despedida"></av-despedida>
          <av-sincuenta name="sincuenta"></av-sincuenta>
          <av-updateuser name="updateuser" on-irposglobal="_volvercuentas"></av-updateuser>
          <av-mensajes name="mensajes"  msg1={{msg1}} msg2={{msg2}}></av-mensajes>
          <av-mensajesok name="mensajesok"  msg1={{msg1}} msg2={{msg2}} on-volvercuentas="_volvercuentas"></av-mensajesok>
          <av-msgaltuserok name="msgaltuserok"  msg1={{msg1}} msg2={{msg2}} on-irlogins="_irlogin"></av-msgaltuserok>
          <av-geolocalizacion name="geolocalizacion" on-volvermovimientos="_volvermovimientos"
              geolocalizacion={{geolocalizacion}}></av-geolocalizacion>

        </iron-mensajespages>
      </app-header-layout>
    </app-drawer-layout>

    <dm-accounts id="accountdm" email={{email}} on-cuentamdok="_cuentamdok"
      on-cuentamdko="_cuentamdko"></dm-accounts>
    <dm-logout id="logoutdm" email={{email}} on-logoutdmok="_logoutOKdm" on-logoutdmko="_logoutkodm"></dm-dm-logout>
    <dm-accountsregister id="accountsregisterdm" email={{email}} on-altacuentadmok="_altaCuentamdOK" on-altacuentadmko="_altaCuentamdko"></dm-accountsregister>
    <dm-useregister id="auseregisterdm" on-altausuario="_altausuariOK" on-altausuarioko="_altausuarioko"></dm-useregister>
    <dm-insertmovement id="insertmovementdm" email={{email}} coordenadas={{coordenadas}}
      on-insertedmovementok="_insertedMovementdmok"
      on-insertedmovementko="_insertedMovementdmko" ></dm-insertmovement>
    <dm-movementaccount id="movementaccountdm" iban={{iban}} email={{email}}
      on-movementaccountdmok="_movementaccountdmok" on-movementaccountdmko="_movementaccountdmko"></dm-movementaccount>
    <dm-user id="userdm" email={{email}} on-consultausuariodmok=_consultausuariodmOK on-consultausuariodmko=_consultausuariodmko></dm-user>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class AvApp extends Polymer.Element {
      static get is() { return 'av-app'; }

      static get properties() {
        return {
          page: {type: String,reflectToAttribute: true,observer: '_pageChanged',},
          routeData: Object,
          subroute: Object,
          rootPath: String,
          loginhecho: {type: Boolean,value: false},
          cuentas: Array,
          movimientos: Array,
          user: Object,
          geolocalizacion: Object,
          coordenadas: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        this.page = page || 'login';
        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
        //console.log(this.coordenadas);
        this.obtenerCordenadas()
      }

      _altausuarioClick(e){this.page = "altausuario";}
      _loginClick(e){this.page = "login";}
      _trasferClick(e){this.page = "trasfer";}
      _accountslistClick(e){this.page = "accountslist";}
      _reintegroClick(e){this.page = "reintegro";}
      _modificausuarioClick(e){this.page = "modificausuario";}
      _entryClick(e){this.page = "entry";}
      _logoutClick(e){this.page = "logout";}

      _pageChanged(page) {
        switch(page)
        {
        case "entry":
        case "trasfer":
        case "reintegro":
        case "accountslist":
          this.$.accountdm.getAccounts();
          break;
        case "movementaccount":
          this.$.movementaccountdm.movementsQuery();
          break;
        case "logout":
          this.$.logoutdm.lazarLogout();
          break;
        case "modificausuario":
          this.$.userdm.userQuery()
          break;
        default:
          this.cargaPaginaCambiada();
        }

      }
      cargaPaginaCambiada(){
        console.log(this.page);
        const resolvedPageUrl = this.resolveUrl('av-' + this.page + '.html');
        Polymer.importHref(resolvedPageUrl,null,this._showPage404.bind(this),true);
      }
      _movimientosCuenta(e){
        this.iban = e.detail.IBAN;
        this.movimientos = null;
        this.page = "movementaccount"
      }
      _runrefund(e){
        this.$.insertmovementdm.iban = e.detail.IBAN;
        this.$.insertmovementdm.opType = "01";
        this.$.insertmovementdm.amount = e.detail.amount;
        this.$.insertmovementdm.Stock_Name = "Reintegro oficina"
        this.$.insertmovementdm.Operation_description = "Reintegro"
        this.$.insertmovementdm.createMovement();
      }
      _runentry(e){
        this.$.insertmovementdm.iban = e.detail.IBAN;
        this.$.insertmovementdm.opType = "03";
        this.$.insertmovementdm.amount = e.detail.amount;
        this.$.insertmovementdm.Stock_Name = "Ingreso oficina"
        this.$.insertmovementdm.Operation_description = "Ingreso"
        this.$.insertmovementdm.createMovement();
      }
      _runtrasfer(e){
        this.$.insertmovementdm.iban = e.detail.IBAN;
        this.$.insertmovementdm.opType = "02";
        this.$.insertmovementdm.amount = e.detail.amount;
        this.$.insertmovementdm.Stock_Name = "Trasferencia oficina"
        this.$.insertmovementdm.Operation_description = "Trasferencia"
        this.$.insertmovementdm.IBAN_Dest = e.detail.IBAN_Dest
        this.$.insertmovementdm.createMovement();
      }
      _insertedMovementdmok(e){
        this.msg1 = null;
        this.msg2 = null;
        this.msg1 = "Operación dada de alta correctamente";
        this.page = "mensajesok";
      }
      _insertedMovementdmko(e){
        this.msg1 = null;
        this.msg2 = null;
        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }
      _showPage404() {
        this.loginhecho = false;
        this.page = 'view404';
        this.email = ""
        this.password = ""
      }
      _loginOK(e){
        this.loginhecho = true;
        this.email = e.detail.emailUsuario;
        this.nombre = e.detail.nombre;
        this.apellidos = e.detail.apellidos;
        this.page = "accountslist";
      }
      _loginko(e){
        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }
      _logoutOKdm(e){
        this.loginhecho = false;
        this.email = ""
        this.password = ""
        this.cuentas = null;
        this.movimientos = null;
        this.page = "despedida";
        this.user = null;
        this.coordenadas = null;
        localStorage.removeItem("latitude");
        localStorage.removeItem("longitude");
        localStorage.removeItem("coordenadasOK");
        localStorage.removeItem("token");

      }
      _logoutkodm(e){

        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }
      _cuentamdok(e){
        this.cuentas = e.detail;
        this.cargaPaginaCambiada();
      }
      _cuentamdko(e){
        this.cuentas = null;
        if (this.page == "accountslist"){
          this.cargaPaginaCambiada()
        } else{
          this.msg1 = e.detail.msg1;
          this.msg2 = e.detail.msg2;
          this.page = "mensajes";
         }
      }
      _movementaccountdmok(e){
        this.movimientos = e.detail;
        this.cargaPaginaCambiada();
      }
      _movementaccountdmko(e){
        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }
      _altacuenta(e){
        this.$.accountsregisterdm.accountRegister();
      }
      _altaCuentamdOK(e){
        this.msg1 = "Cuenta dada de alta";
        this.msg2 = e.detail;
        this.page = "mensajesok";
      }
      _altaCuentamdko(e){
        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }

      _altaUsuario(e){
        this.$.auseregisterdm.registerUser(e.detail);
      }
      _altausuariOK(e){

        this.msg1 = "Usuario dado de alta en Avengers:";
        this.msg2 = e.detail.email;
        this.page = "msgaltuserok";
      }
      _altausuarioko(e){
        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes"
      }
      _irlogin(e){
        this.email=e.detail.email;
        this.password=null;
        this.page = "login"
      }
      _consultausuariodmOK(e){
        this.user = e.detail;
        this.cargaPaginaCambiada();
      }
      _consultausuariodmko(e){

        this.msg1 = e.detail.msg1;
        this.msg2 = e.detail.msg2;
        this.page = "mensajes";
      }
      _geolocaliza(e){
        if (e.detail.Operation_latitude != null && e.detail.Operation_longitude != null){
          this.geolocalizacion = {
            "Operation_latitude" : e.detail.Operation_latitude,
            "Operation_longitude" : e.detail.Operation_longitude}
          this.page = "geolocalizacion"
        }else{
            alert("El movimiento no tiene geolocalización")
        }
      }
      _volvercuentas(){
        this.page = "accountslist";
      }
      _volvermovimientos(){
        this.page = "movementaccount";
      }
      obtenerCordenadas(){
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(this.coordenadasOK,this.coordenadasKO);
        }else{
            localStorage.setItem("coordenadasOK", false)
            localStorage.setItem("msgcoordenadas", "Oops! Tu navegador no soporta geolocalización. Bájate Chrome, que es gratis!")
        }
      }
      coordenadasOK(position){
        localStorage.setItem("latitude", position.coords.latitude)
        localStorage.setItem("longitude", position.coords.longitude)
        localStorage.setItem("coordenadasOK", true)
      }
      coordenadasKO(err) {
        localStorage.setItem("coordenadasOK", false)
        if (err.code == 0) {thislocalStorage.setItem("msgcoordenadas", "Oops! Algo ha salido mal en tu geolocalización")}
        if (err.code == 1) {thislocalStorage.setItem("msgcoordenadas", "Oops! No has aceptado compartir tu posición")}
        if (err.code == 2) {thislocalStorage.setItem("msgcoordenadas", "Oops! No se puede obtener la posición actual")}
        if (err.code == 3) {thislocalStorage.setItem("msgcoordenadas", "Oops! Hemos superado el tiempo de espera para tu geolocalización")}
      }
      _updateuserok(e){
        this.email=e.detail.emailUsuario;
        this.page = "updateuser"
      }
      _updateuserko(e){
        this.msg = e.detail;
        this.page="mensajes"
      }
    }
    window.customElements.define(AvApp.is, AvApp);
  </script>
</dom-module>
