<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-altausuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

      <form>
        <fieldset>
          <legend class="legend-block">Datos nuevo usuario</legend>
            <label class="label-block" for="nombre">Nombre y apellidos</label>
                <select id="Tittle" name="tipo" required>
                  <option value="Mr">Mr</option>
                  <option value="Ms">Ms</option>
                </select>
                <input name="nombre" type="text" id="first_name" placeholder="Nombre" required minlength="3">
                <input name="nombre" type="text" id="last_name" placeholder="Apellidos" requiredminlength="3">
            <label class="label-block" for="email">eMail</label>
                <input name= "email" type="email" id="email" placeholder="email" required minlength="3">
            <label class="label-block" for="password">Password</label>
                <input name="password" type="password" id="Password" placeholder="Password" required>
            <label class="label-block" for="dni">DNI/Pasaporte</label>
                <input name="dni" type="text" id="DNI_Passport"  placeholder="DNI/Pasaporte" required>
            <label class="label-block" for="cumpleaños">Fecha de nacimiento</label>
                <input name="cumpleaños" type="date" id="birth_date"  min="1920-01-01" max="2001-01-01" required>
            <label class="label-block" for="telefono">Teléfono</label>
                <input name="telefono" type="tel" id="Phone"  placeholder="Teléfono" required minlength="9">
            <label class="label-block" for="sexo">Sexo</label>
                <select id="gender" name="Sexo" required>
                  <option value="Hombre">Hombre</option>
                  <option value="Mujer">Mujer</option>
                </select>
            <label class="label-block" for="dirección">Dirección</label>
                <input name="dirección" type="text" id="Street_Name" placeholder="Calle" required minlength="3">
                <input name="dirección" type="text" id="Street_Number" placeholder="Número" required minlength="3">
                <input name="dirección" type="text" id="City" placeholder="Ciudad" required minlength="3">
                <input name="dirección" type="text" id="Country" placeholder="País" required minlength="3">
        </fieldset>

        <br>
        <div class="buttons-wrapper">
          <button type="submit" on-click="lazarAltaUsuario"><a href="">Alta</a></button>
        </div>
      </form>
    </div>
  </template>

  <script>
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'av-altausuario'; }
      static get properties() {
        return {
          datosAltaUsuario: Array
        }
      }
      lazarAltaUsuario(){
        var datosUsuario = {
          "email": this.$.email.value,
          "Password": this.$.Password.value,
          "Tittle": this.$.Tittle.value,
          "first_name": this.$.first_name.value,
          "last_name": this.$.last_name.value,
          "DNI_Passport": this.$.DNI_Passport.value,
          "Birth_date": this.$.birth_date.value,
          "Phone": this.$.Phone.value,
          "gender": this.$.gender.value,
          "Street_Name": this.$.Street_Name.value,
          "Street_Number": this.$.Street_Number.value,
          "City": this.$.City.value,
          "Country": this.$.Country.value
        }
        this.$.email.value = null;
        this.$.Password.value = null;
        this.$.first_name.value = null;
        this.$.last_name.value = null;
        this.$.DNI_Passport.value = null;
        this.$.birth_date.value = null;
        this.$.Phone.value = null;        
        this.$.Street_Name.value = null;
        this.$.Street_Number.value = null;
        this.$.City.value = null;
        this.$.Country.value = null;
        this.dispatchEvent(new CustomEvent('altausuario', { detail: datosUsuario, bubbles: true, composed: true }));
      }

    }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
