
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-accountslist">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <div class="card">

      <table class="table">
        <caption><i>Listado de cuentas de</i> <b>{{nombre}} {{apellidos}}</b></caption>
        <thead>
          <tr>
            <th scope="col">IBAN</th><th scope="col">Balance</th><th scope="col">Moneda</th><th></th>
          </tr>
        </thead>
        <tbody>
        <template is="dom-repeat" items="{{cuentas}}">
          <tr on-click="_buscarMovimientos"><a href="">
              <td><a href="">[[item.IBAN]]</a></td><td><a href="">[[item.Balance]]</a></td><td><a href="">[[item.Badge]]</a></td>
          </tr>
        </template>
        </tbody>
      </table>
      <div><br>Pulse <a href=""><b on-click=_altaCuenta>aqui</b></a> para dar de alta una nueva cuenta</br></div>

    </div>

  </template>

  <script>
    class AccountsList extends Polymer.Element {
      static get is() { return 'av-accountslist'; }
      static get properties() {
        return {
          email:String,
          nombre: String,
          apellidos: String,
          cuentas: Array
        }
      }
      _altaCuenta(e){
        this.dispatchEvent(new CustomEvent('altacuenta', { detail: {}, bubbles: true, composed: true }));
      }
      _buscarMovimientos(e) {
        this.dispatchEvent(new CustomEvent('movimientoscuenta', { detail: e.model.item, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(AccountsList.is, AccountsList);
  </script>
</dom-module>
