<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-despedida">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center"> <h1>Esperamos vover a verle pronto<h1></div>
  </template>
  <script>
    class Despedida extends Polymer.Element {
      static get is() { return 'av-despedida'; }
      static get properties() {return {}}
    }
    window.customElements.define(Despedida.is, Despedida);
  </script>
</dom-module>
