<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-entry">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <h2 class="h2-block">Seleccione cuenta</h2>
      <select id="refundaccount" name="refundaccount" required>
        <template is="dom-repeat" items="{{cuentas}}">
          <option value="[[item.IBAN]]">[[item.IBAN]]</option>
        </template>
      </select>
      <h2 class="h2-block">Importe ingreso</h2>
      <input type="text" id="amountext" placeholder="Importe" required> €
      <br>
      <div class="buttons-wrapper">
        <button type="submit" on-click="runEntry"><a href="">Alta Ingreso</a></button>
      </div>
    </div>
  </template>

  <script>
    class Entry extends Polymer.Element {
      static get is() { return 'av-entry'; }
      static get properties() {
        return {
          cuentas: Array
        }
      }
      runEntry(){
        var importe = this.$.amountext.value
        var entryData = {"IBAN":this.$.refundaccount.value,"amount":importe}
        this.$.amountext.value = null;
        this.dispatchEvent(new CustomEvent('runentry', { detail: entryData, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(Entry.is, Entry);
  </script>
</dom-module>
