<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="av-geolocalizacion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      google-map {
        height: 300px;
      }
    </style>

    <h1 class="section-title h1" align=center><strong>Geolocalización del movimiento</strong></h1>

    <a on-click="_volverMovimientos">&#60;&#60;Volver</a>
    <div align="center">
            <google-map latitude={{geolocalizacion.Operation_latitude}} longitude={{geolocalizacion.Operation_longitude}}
              fit-to-markers api-key="AIzaSyCtOX3UIcFZKii5BUdXCEpKIBYmHC9nxAI">
              <google-map-marker latitude={{geolocalizacion.Operation_latitude}} longitude={{geolocalizacion.Operation_longitude}} draggable="false">
            </google-map-marker>
            </google-map>
      </div>
    <a on-click="_volverMovimientos">&#60;&#60;Volver</a>

  </template>
  <script>
    class Geolocalizacion extends Polymer.Element {
      static get is() { return 'av-geolocalizacion'; }
      static get properties() {
        return {
          geolocalizacion:Object
        }
      }
      _volverMovimientos(e){
        this.dispatchEvent(new CustomEvent('volvermovimientos', { detail: {}, bubbles: true, composed: true }));
      }

    }
    window.customElements.define(Geolocalizacion.is, Geolocalizacion);
  </script>
</dom-module>
