<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="av-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      label.pss { color: red; font-italic}

        google-map {
          height: 400px;
        }
    </style>

    <div class="card">
      <div class="form-group">
        <h2 class="h2-block">eMail</h2>
        <input type="email" value="{{email::input}}" name="email" required id="email"  placeholder="Email">
      </div>
      <div class="form-group">
        <h2 class="h2-block">Password</h2>
        <input type="password" value="{{password::input}}" name="password" required id="password"  placeholder="Password">
        <label class="pss" hidden={{!error}}>Password incorrecta</label>
      </div>
      <div class="buttons-wrapper">
        <button type="submit" href="" on-click="lazarLogin"><a href="">Login</a></button>
      </div>
    </div>

  <iron-ajax
    id="doLogin"
    url="http://localhost:3000/proyect_techu/login"
    handle-as="json"
    content-type="application/json"
    headers='{"Access-Control-Allow-Origin":"*"}'
    method="POST"
    on-response="manageAJAXResponseOK"
    on-error="manageAJAXResponseKO">

  </template>

  <script>
    class AvLogin extends Polymer.Element {
      static get is() { return 'av-login'; }
      static get properties() {
        return {
          email: String,
          password: String,
          error: {type: Boolean,value: false},
          isLogged: {type: Boolean,value: false},
          coordenadas: Object
        }
      }
      lazarLogin(){
        var loginData = {"email": this.email,"Password": this.password};
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }
      manageAJAXResponseOK(data, request){
        this.error=false;
        localStorage.setItem("token", request.xhr.getResponseHeader("token"));
        this.isLogged = true;
        this.dispatchEvent(new CustomEvent("eventologin", {"detail": data.detail.response}))

        }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('eventologinko', { detail: responseko, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(AvLogin.is, AvLogin);
  </script>
</dom-module>
