<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div align="center">
              <h1>Desconectando {{email}}<h1>
      </div>

  <iron-ajax
        id="doLogout"
        url="http://localhost:3000/proyect_techu/logout"
        handle-as="json"
        content-type="application/json"
        method="POST"
        on-response="manageAJAXResponseOK"
        on-error="manageAJAXResponseKO">
  </template>

  <script>
    class AvLogout extends Polymer.Element {
      static get is() { return 'av-logout'; }
      static get properties() {
        return {
          email: String,
        }
      }
      lazarLogout(){
        var logoutData = {"email": this.email};
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent("eventologout", {"detail": data.detail.response}))

        }
      manageAJAXResponseKO(error){
        this.dispatchEvent(new CustomEvent("eventoerror", {"detail": "pete gordo"}))
      }
    }
    window.customElements.define(AvLogout.is, AvLogout);
  </script>
</dom-module>
