<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-mensajesok">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center">
      <h1>{{msg1}}
        <br>
        {{msg2}}
      <h1>
      <a href="" on-click="volverCuenta">&#60;&#60;Volver a cuentas</a>
    </div>
  </template>
  <script>
    class mensajesok extends Polymer.Element {
      static get is() { return 'av-mensajesok'; }
      static get properties() {return {}}

      volverCuenta(){
        this.dispatchEvent(new CustomEvent('volvercuentas', { detail: {}, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(mensajesok.is, mensajesok);
  </script>
</dom-module>
