<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-msgaltuserok">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center">
      <h1>{{msg1}}
        <br>
        {{msg2}}
      <h1>
      <a href="" on-click="_irlogin">&#60;&#60;Login</a>
    </div>
  </template>
  <script>
    class msgaltuserok extends Polymer.Element {
      static get is() { return 'av-msgaltuserok'; }
      static get properties() {return {}}

      _irlogin(){
        var DatosUsuario= {
          "email": this.msg2
        }
        this.dispatchEvent(new CustomEvent('irlogins', { detail: DatosUsuario, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(msgaltuserok.is, msgaltuserok);
  </script>
</dom-module>
