
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-movementaccount">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <div class="card">
      <table class="table">
        <caption>
          <i>Cuenta </i> <b>{{iban}}</b>

        </caption>
        <thead>
          <tr>
            <th scope="col">Importe</th>
            <th scope="col">Moneda</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <!--<th scope="col">lat</th>
            <th scope="col">log</th>-->

          </tr>
        </thead>
        <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr on-click="_geoLocalización">
              <td><a href="">[[item.Amount]]</a></td>
              <td><a href="">[[item.Badge]]</a></td>
              <td><a href="">[[item.Stock_Name]]</a></td>
              <td><a href="">[[item.Date_Operation]]</a></td>
              <td><a href="">[[item.Time_Operation]]</a></td>
              <!--<td><a href="">[[item.Operation_latitude]]</a></td>
              <td><a href="">[[item.Operation_longitude]]</a></td>-->
          </tr>
        </template>
        </tbody>
      </table>
      <a href="" on-click="volverCuenta">&#60;&#60;Volver</a>
    </div>

  </template>

  </template>

  <script>
    class MovementAccount extends Polymer.Element {
      static get is() { return 'av-movementaccount'; }
      static get properties() {
        return {
          iban: String,
          movimientos: Array
        }
      }
      _geoLocalización(e){
        this.dispatchEvent(new CustomEvent('geolocaliza', { detail: e.model.item, bubbles: true, composed: true }));
      }
      volverCuenta(){
        this.dispatchEvent(new CustomEvent('volvercuentas', { detail: {}, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(MovementAccount.is, MovementAccount);
  </script>
</dom-module>
