<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-mensajes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center"> <h1>{{msg1}}<br>{{msg2}}<h1></div>
  </template>
  <script>
    class mensajes extends Polymer.Element {
      static get is() { return 'av-mensajes'; }
      static get properties() {return {}}
    }
    window.customElements.define(mensajes.is, mensajes);
  </script>
</dom-module>
