<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-modificausuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
    <form>
      <fieldset>
        <legend class="legend-block">Datos nuevo usuario</legend>
          <label class="label-block" for="nombre">Nombre y apellidos</label>
              <select id="Tittle" name="tipo" value={{user.Tittle::select}} required>
                <option value="Mr">Mr</option>
                <option value="Ms">Ms</option>
              </select>
              <input name="nombre" type="text" value="{{user.first_name::input}}" id="first_name" placeholder="Nombre" required minlength="3">
              <input name="nombre" type="text" value="{{user.last_name::input}}" id="last_name" placeholder="Apellidos" requiredminlength="3">
          <label class="label-block" for="email">eMail</label>
              <input name= "email" type="email" value="{{user.email::input}}" id="email" placeholder="email" required minlength="3">
          <label class="label-block" for="password">Password (rellénalo si deseas actualizar tu contraseña)</label>
              <input name="password" type="password" value="{{user.Password::input}}" id="Password" placeholder="Password" required>
          <label class="label-block" for="dni">DNI/Pasaporte</label>
              <input name="dni" type="text" value="{{user.DNI_Passport::input}}" id="DNI_Passport"  placeholder="DNI/Pasaporte" required>
          <label class="label-block" for="cumpleaños">Fecha de nacimiento</label>
              <input name="cumpleaños" type="date" id="birth_date"  min="1920-01-01" max="2001-01-01" value="{{user.Birth_date::input}}" required>
          <label class="label-block" for="telefono">Teléfono</label>
              <input name="telefono" type="tel" value="{{user.Phone::input}}" id="Phone"  placeholder="Teléfono" required minlength="9">
          <label class="label-block" for="sexo">Sexo</label>
              <select id="gender" name="Sexo" value={{user.gender::select}} required>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
          <label class="label-block" for="dirección">Dirección</label>
              <input name="dirección" type="text" value="{{user.Street_Name::input}}" id="Street_Name" placeholder="Calle" required minlength="3">
              <input name="dirección" type="text" value="{{user.Street_Number::input}}" id="Street_Number" placeholder="Número" required minlength="3">
              <input name="dirección" type="text" value="{{user.City::input}}" id="City" placeholder="Ciudad" required minlength="3">
              <input name="dirección" type="text" value="{{user.Country::input}}" id="Country" placeholder="País" required minlength="3">
      </fieldset>
      <br>
      <div class="buttons-wrapper">
        <button type="submit" on-click="PostUpdateUser"><a href="">Modificar datos usuario</a></button>
      </div>
    </form>
    <!--prueba-->

    </div>
    <iron-ajax
      id="PostUpdateUser"
      url="http://localhost:3000/proyect_techu/updateusers/{{user.email}}"
      handle-as="json"
      content-type="application/json"
      headers='{"Access-Control-Allow-Origin":"*"}'
      method="POST"
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
  </template>

  <script>
    class ModificaUsuario extends Polymer.Element {
      static get is() { return 'av-modificausuario'; }
      static get properties() {
        return {
          user: Object
        }
      }

      PostUpdateUser(){
        var DatosUsuario= {
          "email": this.user.email,
          "Password":this.user.Password,
          "Tittle": this.user.Tittle,
          "first_name": this.user.first_name,
          "last_name": this.user.last_name,
          "DNI_Passport": this.user.DNI_Passport,
          "Birth_date": this.user.Birth_date,
          "Phone": this.user.Phone,
          "gender": this.user.gender,
          "Street_Name": this.user.Street_Name,
          "Street_Number": this.user.Street_Number,
          "City": this.user.City,
          "Country": this.user.Country
        };

        this.$.PostUpdateUser.headers.token = localStorage.getItem("token");
        this.$.PostUpdateUser.body = JSON.stringify(DatosUsuario);
        this.$.PostUpdateUser.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('updateuserok', { detail: data.detail.response, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(e,error){
        this.dispatchEvent(new CustomEvent('updateuserko', { detail: error.request.__data.response.msg, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(ModificaUsuario.is, ModificaUsuario);
  </script>
</dom-module>
