<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-reintegro">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <form>
    <div class="card">
      <h2 class="h2-block">Seleccione cuenta</h2>
      <select id="refundaccount" name="refundaccount" required>
        <template is="dom-repeat" items="{{cuentas}}">
          <option value="[[item.IBAN]]">[[item.IBAN]]</option>
        </template>
      </select>
      <h2 class="h2-block">Importe reintegro</h2>
      <input type="text" id="amountext" placeholder="Importe" required> €
      <br>
      <div class="buttons-wrapper">
        <button type="submit" on-click="runRefund"><a href="">Alta Reintegro</a></button>
      </div>
    </div>
  </form>
  </template>

  <script>
    class Reintegro extends Polymer.Element {
      static get is() { return 'av-reintegro'; }
      static get properties() {
        return {
          cuentas: Array
        }
      }
      runRefund(){
        var refunData = {"IBAN":this.$.refundaccount.value,"amount":this.$.amountext.value}
        this.$.amountext.value = null;
        this.dispatchEvent(new CustomEvent('runrefund', { detail: refunData, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(Reintegro.is, Reintegro);
  </script>
</dom-module>
