<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-sincuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center"> <h1>Cliente sin cuenta<h1></div>
  </template>
  <script>
    class SinCuenta extends Polymer.Element {
      static get is() { return 'av-sincuenta'; }
      static get properties() {return {}}
    }
    window.customElements.define(SinCuenta.is, SinCuenta);
  </script>
</dom-module>
