<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-trasfer">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h2 class="h2-block">Seleccione cuenta origen</h2>
      <select id="refundaccount" name="refundaccount" required>
        <template is="dom-repeat" items="{{cuentas}}">
          <option value="[[item.IBAN]]">[[item.IBAN]]</option>
        </template>
      </select>
      <h2 class="h2-block">Escriba cuenta destino</h2>
      <input type="text" id="destIBAN" placeholder="Cuenta destino" required>
      <h2 class="h2-block">Importe transferencia</h2>
      <input type="text" id="amountext" placeholder="Importe" required> €
      <br>
      <div class="buttons-wrapper">
        <button type="submit" on-click="runTrasfer"><a href="">Alta Trasferencia</a></button>
      </div>
    </div>

  </template>

  <script>
    class Trasfer extends Polymer.Element {
      static get is() { return 'av-trasfer'; }
      static get properties() {
        return {
          cuentas: Array
        }
      }
      runTrasfer(){
        var trasferData = {
          "IBAN":this.$.refundaccount.value,"amount":this.$.amountext.value,
          "IBAN_Dest":this.$.destIBAN.value}
        this.$.amountext.value = null;
        this.$.destIBAN.value = null;
        this.dispatchEvent(new CustomEvent('runtrasfer', { detail: trasferData, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(Trasfer.is, Trasfer);
  </script>
</dom-module>
