<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="av-updateuser">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="card" align="center">
      <h1>Datos de cliente modificados correctamente<h1>
      <a href="" on-click="_irposglobal">&#60;&#60;Volver a cuentas</a>
    </div>
  </template>
  <script>
    class updateuser extends Polymer.Element {
      static get is() { return 'av-updateuser'; }
      static get properties() {return {}}

      _irposglobal(){
        this.dispatchEvent(new CustomEvent('irposglobal', { detail: {}, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(updateuser.is, updateuser);
  </script>
</dom-module>
