<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="av-view404">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }
    </style>
    Oops hemos tenido un problema técnico. <a href="[[rootPath]]">Pulse para volver a la página principal.</a>
  </template>

  <script>
    class AvView404 extends Polymer.Element {
      static get is() { return 'av-view404'; }
      static get properties() {
        return {
          rootPath: String,
        };
      }
    }
    window.customElements.define(AvView404.is, AvView404);
  </script>
</dom-module>
