<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dm-accounts">
  <template>
    <iron-ajax
      id="getCuentas"
      url="http://localhost:3000/proyect_techu/accounts/{{email}}"
      handle-as="json"
      content-type="application/json"
      method="GET"
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
  </template>

  <script>
    class Accounts extends Polymer.Element {
      static get is() { return 'dm-accounts'; }
      static get properties() {
        return {
          email: String
        }
      }
      getAccounts(){
        this.$.getCuentas.headers.token = localStorage.getItem("token");
        this.$.getCuentas.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('cuentamdok', { detail: data.detail.response, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('cuentamdko', { detail: responseko, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(Accounts.is, Accounts);
  </script>
</dom-module>
