<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dm-accountsregister">
  <template>
    <iron-ajax
      id="registerAccount"
      url="http://localhost:3000/proyect_techu/createaccounts"
      handle-as="json"
      content-type="application/json"
      method="POST"
      headers='{"access-control-allow-origin":"*"}'
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
  </template>

  <script>
    class AccountsRegister extends Polymer.Element {
      static get is() { return 'dm-accountsregister'; }
      static get properties() {
        return {
          email: String
        }
      }
      accountRegister(){
        var accountData = {"email": this.email};
        this.$.registerAccount.headers.token = localStorage.getItem("token");
        this.$.registerAccount.body = JSON.stringify(accountData);
        this.$.registerAccount.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('altacuentadmok', { detail: data.detail.response.IBAN, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('altacuentadmko', { detail: responseko, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(AccountsRegister.is, AccountsRegister);
  </script>
</dom-module>
