<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dm-insertmovement">

  <template>
    <iron-ajax
      id="postMovement"
      url="http://localhost:3000/proyect_techu/createmovements"
      handle-as="json"
      content-type="application/json"
      method="POST"
      headers='{"access-control-allow-origin":"*"}'
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">

  </template>

  <script>
    class InsertMovement extends Polymer.Element {
      static get is() { return 'dm-insertmovement'; }
      static get properties() {
        return {
          iban: String,
          opType: String,
          Stock_Name:String,
          amount: Number,
          Operation_description:String,
          email:String,
          IBAN_Dest:String
        }
      }
      createMovement(){
        var movementData = {
          "IBAN": this.iban,"Operation_Type": this.opType, "Amount":this.amount,
          "Stock_Name": this.Stock_Name,"Operation_description":this.Operation_description,
          "email":this.email,"IBAN_Dest":this.IBAN_Dest,
          "Operation_latitude":localStorage.getItem("latitude"),
          "Operation_longitude":localStorage.getItem("longitude")};

        this.$.postMovement.headers.token = localStorage.getItem("token");
        this.$.postMovement.body = JSON.stringify(movementData);
        this.$.postMovement.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('insertedmovementok', { detail: data.detail.response, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}        
        this.dispatchEvent(new CustomEvent('insertedmovementko', { detail: responseko, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(InsertMovement.is, InsertMovement);
  </script>
</dom-module>
