<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="dm-logout">
  <template>

  <iron-ajax
        id="doLogout"
        url="http://localhost:3000/proyect_techu/logout"
        handle-as="json"
        content-type="application/json"
        method="POST"
        headers='{"access-control-allow-origin":"*"}'
        on-response="manageAJAXResponseOK"
        on-error="manageAJAXResponseKO">
  </template>

  <script>
    class Logout extends Polymer.Element {
      static get is() { return 'dm-logout'; }
      static get properties() {
        return {
          email: String,
        }
      }
      lazarLogout(){
        var logoutData = {"email": this.email};
        this.$.doLogout.headers.token = localStorage.getItem("token");
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent("logoutdmok", {"detail": data.detail.response}))
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('logoutdmko', { detail: responseko, bubbles: true, composed: true }));
      }
    }

    window.customElements.define(Logout.is, Logout);
  </script>
</dom-module>
