
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="dm-movementaccount">
  <template>
    <iron-ajax
      id="getmovements"
      url="http://localhost:3000/proyect_techu/movements/{{iban}}"
      handle-as="json"
      content-type="application/json"
      headers='{"access-control-allow-origin":"*"}'
      method="GET"
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
    </iron-ajax>


  </template>

  <script>
    class MovementAccountdm extends Polymer.Element {
      static get is() { return 'dm-movementaccount'; }
      static get properties() {
        return {
          iban: String,
          email: String
        }
      }

      movementsQuery(){
        this.$.getmovements.headers.token = localStorage.getItem("token");
        this.$.getmovements.headers.email = this.email;
        this.$.getmovements.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent("movementaccountdmok", {"detail": data.detail.response}))
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('movementaccountdmko', { detail: responseko, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(MovementAccountdm.is, MovementAccountdm);
  </script>
</dom-module>
