<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dm-useregister">
  <template>
    <iron-ajax
      id="registerUser"
      url="http://localhost:3000/proyect_techu/create/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
  </template>

  <script>
    class UseRegister extends Polymer.Element {
      static get is() { return 'dm-useregister'; }
      static get properties() {
        return {
          user: Object
        }
      }
      registerUser(user){
        this.user = user;
        this.$.registerUser.body = JSON.stringify(user);
        this.$.registerUser.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('altausuario', { detail: this.user, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('altausuarioko', { detail: responseko, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(UseRegister.is, UseRegister);
  </script>
</dom-module>
