<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="dm-user">
  <template>
    <iron-ajax
      id="userQuery"
      url="http://localhost:3000/proyect_techu/user/{{email}}"
      handle-as="json"
      content-type="application/json"
      headers='{"access-control-allow-origin":"*"}'
      method="GET"
      on-response="manageAJAXResponseOK"
      on-error="manageAJAXResponseKO">
  </template>

  <script>
    class User extends Polymer.Element {
      static get is() { return 'dm-user'; }
      static get properties() {
        return {
          email: String
        }
      }
      userQuery(){
        this.$.userQuery.headers.token = localStorage.getItem("token");
        this.$.userQuery.generateRequest();
      }
      manageAJAXResponseOK(data){
        this.dispatchEvent(new CustomEvent('consultausuariodmok', { detail: data.detail.response, bubbles: true, composed: true }));
      }
      manageAJAXResponseKO(error,request){
        var responseko = {"msg1": error.detail.error, "msg2": request.request.__data.response.msg}
        this.dispatchEvent(new CustomEvent('consultausuariodmko', { detail: responseko, bubbles: true, composed: true }));
      }
    }
    window.customElements.define(User.is, User);
  </script>
</dom-module>
