<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }
      .buttons-wrapper button {
        background-color: grey;
        color: blanchedalmond;
        padding: 0.5rem 2rem
      }
      .buttons-wrapper {
        background-color: white;
        font-family: fantasy;
        font-size: 18px;
        padding: 0.5rem 1rem
      }
      .caption-block{
        font-size: 40px;
      }
      .h2-block {
        /*display: block;*/
        /*margin-top: 1.4rem;*/
        font-size: small;
        font-style: italic;
        color:black;
        margin: auto;
      }
      .legend-block {
        font-size: medium;
        font-style: italic;
        color:black;
        margin: auto;
      }
      .control-block {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid darkgray;
        line-height: 2rem;
      }
      .label-block {
        display: block;
        font-size: medium;
        font-family: fantasy;
        font-style: italic;
        font-weight: bold;
        margin-top: 0.4rem;
      }
    </style>
  </template>
</dom-module>
